.container-fluid{
    background-color: rgba(99, 98, 98, 0.699);
    
}
.container-fluid .navbar-header .navbar-brand{
    color:black;
    font-size:32px;
    font-weight:700;
    padding:16px;
    margin:12px 0;
    margin-left:20px;
}
.heading h2{
    font-weight:600;
}
.content{
    margin:15px;
    margin-top:45px;
}
.content .chicken, .content .sushi, .content .beef{
    background-color:rgba(170, 217, 255, 0.596);
    color:black;
    margin-bottom:30px;
}
.content .chicken h3, .content .beef h3, .content .sushi h3{
    margin-top:5px;
    font-weight:600;
}
.content .chicken p, .content .beef p, .content .sushi p{
    font-weight:400;
    font-size:16px;
}
.navbar-header .hamburger-icon{
    float:right;
    height: 48px;
    width: 50px;
    margin-right: 25px;
    margin-top: 13px;
}
.navbar-header .hamburger-icon .navbar-toggle{
    margin:0px;
    height: 50px;
    width: 48px;
    border-width: 1.5px;
    border-color: black;
    padding: 3px 5px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
    height: 5px;
    border-radius:3px;
    margin-right: 0px;
    width:100%;
    margin-top: 8px;
}
.navbar-default .navbar-toggle .icon-bar:nth-child(2){
    margin-top:0px;
}
.navbar-default .collapsed:hover, .navbar-default .navbar-toggle:focus{
    background-color:rgba(99, 98, 98, 0.699);
}
.hamburger-icon{
    height: 48px;
    width: 50px;
    margin-right: 25px;
    margin-top: 13px;
}
.hamburger-icon:hover .navbar-toggle, .hamburger-icon:focus .navbar-toggle{
    border-color:#ddd;
    background-color:rgba(99, 98, 98, 0.699);
}
.hamburger-icon:hover .icon-bar, .hamburger-icon:focus .icon-bar{
    background-color:#ddd;
}
.navbar-nav{
    margin-top:0px;
    margin-bottom:0px;
    border:2px solid black;
    background-color:rgb(177, 177, 177);
    margin-top:-2px;
}
.navbar-nav li{
    border-bottom: 1px solid black;
}
.navbar-default .navbar-nav li a{
    font-weight:600;
    color:black;
    font-size:16px;
}
